@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
body{
	font-family: 'Inter', sans-serif;
	color: #777;
	background-color: #FFF;     
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	margin: 0;
	border-bottom-style: solid;
	border-bottom-color: #999;
	box-shadow: 5px 10px 5px #CCC;
	background-color: #FFF;
}
#header a{
	float: left;
	width: 15%;
	height: 120px;
	background-color: #777;
	transition: background-color 400ms;
	color: #FFF;
	text-decoration: none;
	font-size: 200%;
	text-align: center;
}

#header a p{
	vertical-align: middle;
}

#header a:hover{
	background-color: #999;
	color: #FFF;
}
#header a:link{
	color: #FFF;
}
#header a:visited{
	color: #FFF;
}
#header a:active{
	color: #FFF;
}
#header img{
	float: right;
	height: 120px
}
#content{
	position: absolute;
	top: 150px;
	width: 40%;
}
#plane{
	position: fixed;
	top: 0px;
	left: 500px;
	z-index: -2;
}
#back-clouds{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -3;
	width: 3000px;
	filter: blur(8px);
	-webkit-filter: blur(8px);
}
#front-clouds{
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: -1;
	width: 1000px;
	filter: blur(4px);
	-webkit-filter: blur(4px);
}
.parallax-images{
	display: none;
	transition: display 100ms;
}
